 nav{
    display: flex;
    justify-content: flex-end;
    gap:5px;
}
#nav-button{
    background-color:tomato;
    color: brown;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;    
}
#nav-button:hover{
    background-color: blanchedalmond;
}
.nav-link{
    text-decoration: none;
    color: black;
}
#container{
     width: 800px;
    margin:100px auto 0 auto; 
    padding-right: 150px;
    
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    #container p{
     font-size: 90px; 
     padding-left: 90px;
     
}

#container input{
 margin-top: 20px;
 padding: 20px;
 width: 70%;
 
 
} 
.search {
    margin-top: 10px;

    /* padding-left: 100px; */
}





img{
    width: 10%;
}


span{
    background-color: blue;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

span:hover{
    background-color: red;
}